.dot,
.coloredDot {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  display: block;
  box-sizing: border-box;
  margin: 0 2px 0 0;
  z-index: 100;
}

.dot {
  background-color: #ccc;
}

.dot1 {
  animation: dot-jump 2s linear infinite 0.4s;
}

.dot2 {
  animation: dot-jump 2s linear infinite 0.8s;
}

.dot3 {
  animation: dot-jump 2s linear infinite 1.2s;
}

.dot4 {
  animation: dot-jump 2s linear infinite 1.6s;
}

.coloredDot {
  background-color: #ee3ec9;
  animation: dot-animation 2s linear infinite 0.5s;
}

.dots-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@keyframes dot-jump {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-10px);
  }
  40% {
    transform: translateY(0px);
  }
  65% {
    transform: translateY(0px);
  }
  80% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes dot-animation {
  0% {
    transform: translateX(0px);
  }
  10% {
    transform: translateX(7px);
  }
  20% {
    transform: translateX(7px);
  }
  30% {
    transform: translateX(14px);
  }
  40% {
    transform: translateX(14px);
  }
  50% {
    transform: translateX(21px);
  }
  60% {
    transform: translateX(21px);
  }
  70% {
    transform: translateX(28px);
  }
  80% {
    transform: translateX(28px);
  }
  90% {
    transform: translateX(35px);
  }
  100% {
    transform: translateX(35px);
  }
}
