.dot,
.colored-dot {
  /* height: 25px;
  width: 25px; */
  border-radius: 50%;
  display: block;
  box-sizing: border-box;
  margin: 0 10px 0 0;
  z-index: 100;
}

.colored-dot {
  margin: 0 5px 5px 0;
}

.dot {
  background-color: #fff;
}

.colored-dot {
  background-color: #ee3ec9;
  animation: dot-animation 2s linear infinite 0.5s;
}

.dot-1 {
  animation: dot-jump 2s linear infinite 0.4s;
}

.dot-2 {
  animation: dot-jump 2s linear infinite 0.8s;
}

.dot-3 {
  animation: dot-jump 2s linear infinite 1.2s;
}

.dot-4 {
  animation: dot-jump 2s linear infinite 1.6s;
}

@keyframes dot-jump {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-50px);
  }
  40% {
    transform: translateY(0px);
  }
  65% {
    transform: translateY(0px);
  }
  80% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes dot-animation {
  0% {
    transform: translateX(0px);
  }
  10% {
    transform: translateX(30px);
  }
  20% {
    transform: translateX(30px);
  }
  30% {
    transform: translateX(65px);
  }
  40% {
    transform: translateX(65px);
  }
  50% {
    transform: translateX(100px);
  }
  60% {
    transform: translateX(100px);
  }
  70% {
    transform: translateX(135px);
  }
  80% {
    transform: translateX(135px);
  }
  90% {
    transform: translateX(170px);
  }
  100% {
    transform: translateX(170px);
  }
}
